# coding: utf-8

"""
    Codebeamer swagger API

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: 3.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class BranchesApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def get_tracker_item_on_branch(self, source_item_id, branch_id, **kwargs):  # noqa: E501
        """Get tracker item on branch  # noqa: E501

        API can be used for finding a tracker item by a branch id  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_tracker_item_on_branch(source_item_id, branch_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int source_item_id: (required)
        :param int branch_id: (required)
        :return: TrackerItem
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_tracker_item_on_branch_with_http_info(source_item_id, branch_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_tracker_item_on_branch_with_http_info(source_item_id, branch_id, **kwargs)  # noqa: E501
            return data

    def get_tracker_item_on_branch_with_http_info(self, source_item_id, branch_id, **kwargs):  # noqa: E501
        """Get tracker item on branch  # noqa: E501

        API can be used for finding a tracker item by a branch id  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_tracker_item_on_branch_with_http_info(source_item_id, branch_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int source_item_id: (required)
        :param int branch_id: (required)
        :return: TrackerItem
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['source_item_id', 'branch_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_tracker_item_on_branch" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'source_item_id' is set
        if ('source_item_id' not in params or
                params['source_item_id'] is None):
            raise ValueError("Missing the required parameter `source_item_id` when calling `get_tracker_item_on_branch`")  # noqa: E501
        # verify the required parameter 'branch_id' is set
        if ('branch_id' not in params or
                params['branch_id'] is None):
            raise ValueError("Missing the required parameter `branch_id` when calling `get_tracker_item_on_branch`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'branch_id' in params:
            path_params['branchId'] = params['branch_id']  # noqa: E501

        query_params = []
        if 'source_item_id' in params:
            query_params.append(('sourceItemId', params['source_item_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth', 'BasicAuth', 'BearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/v3/branches/{branchId}/item', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='TrackerItem',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
