# coding: utf-8

"""
    Codebeamer swagger API

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: 3.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class TraceabilityApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def get_traceability_initial_item_ids(self, body, **kwargs):  # noqa: E501
        """Get initial ids  # noqa: E501

        Get traceability initial ids!  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_traceability_initial_item_ids(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param TraceabilityInitialLevelFilter body: (required)
        :param int page_size: Number of items in a result page.
        :param int page_no: Index of the result page.
        :return: list[TraceabilityItem]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_traceability_initial_item_ids_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.get_traceability_initial_item_ids_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def get_traceability_initial_item_ids_with_http_info(self, body, **kwargs):  # noqa: E501
        """Get initial ids  # noqa: E501

        Get traceability initial ids!  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_traceability_initial_item_ids_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param TraceabilityInitialLevelFilter body: (required)
        :param int page_size: Number of items in a result page.
        :param int page_no: Index of the result page.
        :return: list[TraceabilityItem]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'page_size', 'page_no']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_traceability_initial_item_ids" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `get_traceability_initial_item_ids`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'page_size' in params:
            query_params.append(('pageSize', params['page_size']))  # noqa: E501
        if 'page_no' in params:
            query_params.append(('pageNo', params['page_no']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth', 'BasicAuth', 'BearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/v3/traceability/items', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[TraceabilityItem]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_traceability_level_item_ids(self, body, **kwargs):  # noqa: E501
        """Get traceability level item ids  # noqa: E501

        Get traceability item ids!  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_traceability_level_item_ids(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param TraceabilityLevelFilter body: (required)
        :param int items_on_level: Number of items per level.
        :param int items_from_previous_item: Number of items per item.
        :return: TraceabilityResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_traceability_level_item_ids_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.get_traceability_level_item_ids_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def get_traceability_level_item_ids_with_http_info(self, body, **kwargs):  # noqa: E501
        """Get traceability level item ids  # noqa: E501

        Get traceability item ids!  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_traceability_level_item_ids_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param TraceabilityLevelFilter body: (required)
        :param int items_on_level: Number of items per level.
        :param int items_from_previous_item: Number of items per item.
        :return: TraceabilityResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'items_on_level', 'items_from_previous_item']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_traceability_level_item_ids" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `get_traceability_level_item_ids`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'items_on_level' in params:
            query_params.append(('itemsOnLevel', params['items_on_level']))  # noqa: E501
        if 'items_from_previous_item' in params:
            query_params.append(('itemsFromPreviousItem', params['items_from_previous_item']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth', 'BasicAuth', 'BearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/v3/traceability/relations', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='TraceabilityResult',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
